<div class="carousel-wrapper container-xxl col-xl-10 mx-auto my-2 px-0">
    <ngb-carousel class="carousel-container"
        [keyboard]="true"
        [pauseOnHover]="true"
        [interval]="15000"
        [wrap]="true"
        [showNavigationIndicators]="false">
        <ng-template class="carousel position-relative" ngbSlide *ngFor="let mov of movies">
            <div class="picsum-img-wrapper">
                <img [src]="imageUrl + mov.backdrop_path" alt="{{mov.title}}">
            </div>
            <div class="carousel-caption" [routerLink]="['/movie', mov.id]">
                <h1 class="title">
                    {{mov?.title}}
                </h1>
                <div class="info-container ">
                    <div class="info d-inline-flex">
                        <span>{{ mov?.release_date | date:"yyyy" }}</span>
                        <div class="vr"></div>
                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                        <span>{{mov?.vote_average}}/10</span>
                        <div class="vr"></div>
                        <span>{{ mov?.vote_count }} Reviews</span>
                    </div>
                    <!-- <div class="genre" *ngFor="let gen of movies.genre_ids">
                        <span>{{ gen.name }} </span>
                    </div> -->
                </div>
            </div>
            <!-- <div class="overview">
                <span *ngIf="mov.overview.length < 100">{{mov.overview}}</span>
                <span *ngIf="mov.overview.length >= 100">{{mov.overview.substr(0, 100)}} ...</span>
            </div> -->
        </ng-template>
    </ngb-carousel>
</div>





