@import "src/styles.scss";

footer {
    background: $black10;
}

a,p,span,div, button {
    color: $white30;
}

.media-container {
    .media-link {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-color: $white-opacity10;
            transform: scale(0);
            transition: all .2s ease-out;
            z-index: 1;
        }
        &:hover {
            &::after {
                transform: scale(1.1);
                transition: transform .2s ease-out;
            }
            fa-icon {
                color: $white;
                transform: scale(1.2);
                transition: transform .2s ease-out;
            }
        }
        fa-icon {
            color: $white50;
            font-size: 19px;
            z-index: 100;
            transition: transform .2s ease-out;
        }
    }
}
.newsletter-form {
    position: relative;
    .form-control {
        padding-right: 100px;
    }
    .btn {
        right: 0;
        color: $white30;
    }
}
.header {
    font-size: 20px;
    color: $blue1;
}
.text-reset {
    &:hover {
        color: rgb(150, 88, 12);
        transform: scale(1.2);
        transition: transform .2s ease-out;
    }
}
.button {
    background-color: #30363C;
}

.foot-copy {
    background-color: $black0;
}