<footer class="container-fluid px-0">
    <div class="container-xxl text-center px-0 pt-4">

        <div class="media-container col mx-auto py-2 d-flex justify-content-center align-items-center">
            <a class="media-link mx-lg-3 mx-2 rounded-circle" href="https://sr-rs.facebook.com/" rel="nofollow" target="_blank">
                <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
            </a>
            <a class="media-link mx-lg-3 mx-2 rounded-circle" href="https://twitter.com/?lang=sr" rel="nofollow" target="_blank">
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            </a>
            <a class="media-link mx-lg-3 mx-2  rounded-circle" href="https://www.instagram.com/" rel="nofollow" target="_blank">
                <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            </a>
            <a class="media-link mx-lg-3 mx-2 rounded-circle" href="https://www.google.com/" rel="nofollow" target="_blank">
                <fa-icon [icon]="['fab', 'google']"></fa-icon>
            </a>
            <a class="media-link mx-lg-3 mx-2 rounded-circle" href="https://www.youtube.com/" rel="nofollow" target="_blank">
                <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
            </a>
        </div>

        <div class="container-fluid text-center text-md-start mt-4">
            <div class="col-xxl-10 col-lg-11 col-md-12 col-sm-9 col-11 mx-auto d-md-flex ">
                <div class="col-xl-5 col-lg-5 col-md-5 mx-auto mb-5 pe-md-5 ps-md-3">
                    <h3 class="fw-bold mb-4">
                        SciFiMovies
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi repudiandae suscipit
                        voluptates sit iusto fuga.
                    </p>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-2 mx-auto mb-5">
                    <h6 class="header text-uppercase fw-bold mb-4 pl-2">
                        Links
                    </h6>
                    <p>
                        <a href="javascript: void(0)" class="text-reset" [routerLink]="['/movies']">Movies</a>
                    </p>
                    <p>
                        <a href="javascript: void(0)" class="text-reset" [routerLink]="['/shows']">TV Shows</a>
                    </p>
                    <!-- <p>
                        <a href="javascript: void(0)" class="text-reset" [routerLink]="['/person']">Celebs</a>
                    </p> -->
                    <p>
                        <a href="javascript: void(0)" class="text-reset" [routerLink]="['/about']">About</a>
                    </p>
                    <p>
                        <a href="javascript: void(0)" class="text-reset" [routerLink]="['/home']">Home</a>
                    </p>
                </div>
                
                <div class="col-xl-5 col-lg-5 col-md-5 mb-md-0 mb-5 px-3">
                    <h6 class="header text-uppercase fw-bold text-left">
                        Contact
                    </h6>
                    <div class="container pb-0 g-0">
                        <form action="">
                            <div class="col-12">
                                <p class="pt-2">
                                    <strong>Sign up for our newsletter</strong>
                                </p>
                            </div>
                            <div class="col-12 d-flex newsletter-form">
                                <input type="email" class="form-control" placeholder="Email address">
                                <button type="submit" class="btn bg-danger position-absolute">
                                    Subscribe
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="mt-4">
                        <div class="d-flex justify-content-md-start justify-content-center align-items-center mb-2">
                            <div class="col-3 col-lg-3 col-md-5">
                                <strong class="align-middle">Contact us</strong>
                            </div>
                            <div class="col-3 col-lg-3 col-md-4">
                                <button type="button" class="btn btn-outline-light btn-rounded py-1">
                                    Contact
                                </button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-md-start justify-content-center align-items-center">
                            <div class="col-3 col-lg-3 col-md-5">
                                <strong class="align-middle">Register</strong>
                            </div>
                            <div class="col-3 col-lg-3 col-md-4" >
                                <button type="button" class="btn btn-outline-light btn-rounded py-1 px-3">
                                    Log in
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="foot-copy text-center p-2 mt-1">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://github.com/drumloop76">Vladimir Stojkovic</a>
    </div>
</footer>




