@import "src/styles.scss";

.container-fluid {
    background-color: $black30;
    .container-xxl {
        // background-color: aquamarine;
    }
}
.carousel-container {
    background-color: $black30;
}
// .action {
    // height: 20px;
// }
.action-info {
    p {
        color: $white;
    }
}
.close {
    cursor: pointer;
    p {
        color: $white;
    }
}
.closeBtn {
    color: $white;
    font-size: 21px;
}
//////////////////////////////////////
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.466);
    // background-color: red;
    bottom: 0;
}

////////////////////////////////////////
