// 1400px
@mixin media-xxl {
    @include media-breakpoint-down(xxl) {
        @content;
    }
}

// 1200px
@mixin media-xl {
    @include media-breakpoint-down(xl) {
        @content;
    }
}

// 992px
@mixin media-lg {
    @include media-breakpoint-down(lg) {
        @content;
    }
}

// 768px
@mixin media-md {
    @include media-breakpoint-down(md) {
        @content;
    }
}

// 516px
@mixin media-sm {
    @include media-breakpoint-down(sm) {
        @content;
    }
}

@mixin toggler {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    border: none;
    outline: none;
    @include media-sm {
        top: 0;
    }
    &:focus,
    &:active,
    &-icon:focus {
        outline: none;
        box-shadow: none;
    }
}

@mixin bars {
    position: absolute;
    content: '';
    display: block;
    width: 21px;
    height: 2.5px;
    background: $white20;
    border-radius: 2px;
    z-index: 200;
}

@mixin titles {
    color: $orange;
    letter-spacing: .5px;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

@mixin movieContainer {
    background-color: $black6;
    overflow: hidden;
    cursor: pointer;
    img {
        transition: transform .3s ease;
    }
    &:hover {
        img {
            transform: scale(1.05);
            transition: transform .3s ease;
        }
    }
}

@mixin movieInfo {
    padding: 4px 2px 2px 2px;
    color: $white30;
    .title-container {
        overflow: hidden;
        color: $white30;
        height: 2.5rem;
        text-overflow: ellipsis;
        cursor: pointer;
    }
    fa-icon {
        color: $yellow;
        margin-right: 6px;
        padding-top: 3px;
        font-size: 12px;
    }
}

@mixin carouselArrows {
    background-color: rgba(0, 255, 255, 0.137);
    color: $white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    @include media-sm {

    }
}

@mixin commas {
    margin-right: 10px;
    &:not(:last-child):after {
        content: ',';
    }
    a {
        color: $black;
    }
}

///////////////// swiper //////////////////////
@mixin swiperTemplate {
    background-color: $black6;
    height: auto;
    position: relative;
    overflow: hidden;
    .img-container {
        background-color: $black6;
        overflow: hidden;
        cursor: pointer;
        img {
            transition: transform .3s ease;
        }
        &:hover {
            img {
                transform: scale(1.05);
                transition: transform .3s ease;
            }
        }
    }
    .info-container {
        position: relative;
        overflow: hidden;
        .title-container {
            overflow: hidden;
            color: $white;
            height: 2.5rem;
            margin-bottom: 0;
            padding: 2px 5px;
            text-overflow: ellipsis;
            cursor: pointer;
        }  
        .info {
            padding: 4px 2px 2px 5px;
            color: $white30;
            .title-container {
                overflow: hidden;
                color: $white30;
                height: 2.5rem;
                text-overflow: ellipsis;
                cursor: pointer;
            }
            fa-icon {
                color: $yellow;
                margin-right: 6px;
                padding-top: 3px;
                font-size: 12px;
            }
        } 
    }
}
@mixin swiperArrows {
    background-color: $black-opacity10;
    color: $white30;
    padding: 1.8rem 1.2rem;
    @include media-sm {
        padding: 1.5rem 1rem;
    }
    &:hover {
        background-color: $black-opacity11;
        color: $white;
    }
    &::after {
        font-size: 35px;
        @include media-sm {
            font-size: 30px;
        }
    }
}

@mixin playIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}