@import "src/styles.scss";

.container-fluid {
    background-color: rgb(41, 41, 41);
    background-color: $black30;
}
.carousel-wrapper {
    background-color: $black0;
}
.header-div {
    h2 {
        @include titles;
    }
    p {
        color: $white30;
        font-size: 18px;
        letter-spacing: .5px;
        margin-bottom: 2rem;
        a {
            color: $yellow;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


/////////////////// swiper ////////////////
// ::ng-deep.swiper-wrapper {
    // height: auto;
// }
::ng-deep.sw-temlate {
    @include swiperTemplate;
}
::ng-deep.swiper-button-next,
::ng-deep.swiper-button-prev {
    @include swiperArrows;
}


////////////////// table //////////////////
table thead tr:first-child {
    background-color: $black50;
    border-bottom: 1px solid $white70;
}

table tr:nth-child(even) {
    background-color: $black5;
}

table tr:nth-child(odd) {
    background-color: $black3;
}

table tbody tr:hover {
    // transform: scale(1.01);
    background-color: $black7;
    cursor: pointer;
    .td_title {
        color: $yellow;
    }
}

:host .tooltip-inner {
    max-width: 150px;
}